{{- /*gotype: github.com/xujiahua/alertmanager-webhook-feishu/model.Alert*/ -}}
{{if in .Annotations "summary"}}**{{.Annotations.summary}}** {{end}}
{{- if in .Labels "severity"}}{{.Labels.severity | toUpper}} {{end}}
{{- if .GeneratorURL}}[GeneratorURL]({{.GeneratorURL}}){{end}}
{{if in .Annotations "description"}}{{.Annotations.description}}
{{- if in .Annotations "runbook_url"}} [操作手册]({{.Annotations.runbook_url}}){{end}}
{{- end}}
{{if isNonZeroDate .StartsAt}}{{date .StartsAt "Asia/Shanghai" }} ~{{end -}}
{{- if isNonZeroDate .EndsAt}} {{date .EndsAt "Asia/Shanghai"}}{{else}} TO BE RESOLVED{{end -}}