{{- /*gotype: github.com/xujiahua/alertmanager-webhook-feishu/model.WebhookMessage*/ -}}
{
"msg_type": "interactive",
"card":
{
"header": {
"title": {
"tag": "plain_text",
"content": "{{if len .FiringAlerts}}[{{len .FiringAlerts}}]Alerts{{end}} {{if len .ResolvedAlerts}}[{{len .ResolvedAlerts}}]Resolved{{end}} {{range .Data.GroupLabels.SortedPairs}}{{.Name}}:{{.Value}} {{end}}"
},
"template":"{{if len .FiringAlerts}}red{{else}}green{{end}}"
},

"elements": [
{{ range .FiringAlerts }}
    {
    "tag": "div",
    "text": {
    "tag": "lark_md",
    "content": "{{.}}"
    }
    },
    {
    "tag": "hr"
    },
{{ end }}
{{ range .ResolvedAlerts }}
    {
    "tag": "div",
    "text": {
    "tag": "lark_md",
    "content": "{{.}}"
    }
    },
    {
    "tag": "hr"
    },
{{ end }}
{
"tag": "note",
"elements": [
{
"tag": "lark_md",
"content": "{{range .OpenIDs}}
<at id={{.}}></at>{{end}}"
}
]
}
]
}
}
