{
"msg_type": "interactive",
"card":
{
{{- /*gotype: github.com/xujiahua/alertmanager-webhook-feishu/model.WebhookMessage*/ -}}
"elements": [
{{ range .FiringAlerts }}
    {
    "tag": "div",
    "text": {
    "tag": "lark_md",
    "content": "{{.}}"
    }
    },
    {
    "tag": "hr"
    },
{{ end }}
{{ range .ResolvedAlerts }}
    {
    "tag": "div",
    "text": {
    "tag": "lark_md",
    "content": "{{.}}"
    }
    },
    {
    "tag": "hr"
    },
{{ end }}
{
"tag": "note",
"elements": [
{
"tag": "lark_md",
"content": "{{range .OpenIDs}}
<at id={{.}}></at>{{end}}"
}
]
}
]
}
}
